
.progressbar{
  height:5px;
  border-radius: 10px;

}

.img-grid{
  
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-gap: 20px;
  margin-top: 30px;
}

.imgindividual{
  
  
  margin-left: 120px;
}
.imgindividual img{
  opacity:0.9;
}
.imgindividual img:hover{
  opacity:1;
}
.imgindividual img{
  box-shadow: 2px 2px 2px whitesmoke,4px 4px 4px whitesmoke.,-2px -2px 2px whitesmoke,-4px -4px 4px whitesmoke;
}


.sty{
  padding: 5px;
  background:whitesmoke;
  width:350px;
  border:none;
  outline: none;
 
  cursor: pointer;
}


::-webkit-textfield-decoration-container{
color:red;
}
::-webkit-file-upload-button{
  background: white;
  height:20px;
  
  height:2%;
  outline: none;
  border: none;
  color:black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
  color:dodgerblue;
}
label{
  font-size: 25px;


}
span{
  color:mediumspringgreen;
}
.container{

  width:800px;
  height:25px;
}